<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ยืนยันการสั่งซื้อสินค้า</title>

    <!-- insert layout/commonHead.ejs file-->
    <%- include('layouts/commonHead') %>

</head>

<body>
    <div class="container bg-light">
        <div>
            <h1 style="background-color: rgb(83, 142, 219);">ยืนยันการสั่งซื้อ</h1>
        </div>
        <br>
        <!-- addressOrder=(firstname, lastname, phoneNumber, address, city, province, zipcode)-->
        <div>
            <h4>ที่อยู่ในการจัดส่ง:</h4>
            <div>
                <%= dataAddress[0] %>
                    <%= dataAddress[1] %>
            </div>
            <div>ที่อยู่ <%= dataAddress[3] %> อำเภอ <%= dataAddress[4] %> จังหวัด <%= dataAddress[5] %>
                            <%= dataAddress[6] %>
            </div>
            <div>เบอร์โทรศัพท์: <%= dataAddress[2] %>
            </div>

        </div>
        <hr>
        <div>
            <h4>ชำระค่าสินค้า:</h4>
            <span>ราคาที่ต้องชำระทั้งหมด: </span><span id="totalCost" style=" font-size: x-large; color: blue; ">
                <%= dataGrandPrice %>
            </span><span> บาท</span>
            <br><br>
            <h4>ช่องทางชำระเงิน:</h4>

            <div>ธนาคารไทยพานิชย์ เลขที่บัญชี </div><span style="color: blue; font-weight: bold;">123456789
                <input type="hidden" id="bankNumber" value="123456789">
                <button type="button" class="btn btn-outline-primary mx-2 w-15" data-bs-toggle="tooltip"
                    data-bs-placement="top" data-bs-title="Copy" onclick="copyBankID()"
                    id="btnCopy">Copy</button></span>
            <hr>
            <h4>อัพโหลด หลักฐานการชำระเงิน:</h4>

            <form action="/test" method="post" enctype="multipart/form-data">
                <input type="text" name="name" value="aob">
                <input type="file" name="upfile" accept="image/*">

                <button>Upload</button>

            </form>

            <div>
                <img src="/upload/greenrobot.png" alt="">
            </div>

        </div>
        <div class="d-flex justify-content-between">

            <form action="/" method="post">

                <button type="submit" class="btn btn-primary">กลับหน้าหลัก</button>

            </form>

            <form action="" method="post" id="formOrder">

                <input type="hidden" id="grandPriceOrder" name="grandPriceOrder">
                <button type="submit" class="btn btn-primary px-3" onclick="confirmBuyOrder()">ยืนยันสั่งสินค้า</button>

            </form>
        </div>

    </div>

    <script>

        // Copy bank number

        function copyBankID() {

            let bankNumber = document.getElementById("bankNumber")
            let btnCopy = document.getElementById('btnCopy')

            let tempText = document.createElement('input') //Create temporary element

            if (btnCopy.innerHTML == 'Copy') {
                tempText.value = bankNumber.value
                document.body.appendChild(tempText) //Addition temporary element

                tempText.select()
                //bankNumber.setSelectionRange(0, 99999); // For mobile devices

                //navigator.clipboard.writeText(bankNumber.value)

                document.execCommand("copy")

                document.body.removeChild(tempText) //Delete temporary element

                btnCopy.innerHTML = 'Copied'

            } else {

                tempText.value = bankNumber.value
                document.body.appendChild(tempText)

                tempText.select()
                //bankNumber.setSelectionRange(0, 99999); // For mobile devices

                //navigator.clipboard.writeText(bankNumber.value)

                document.execCommand("copy")

                document.body.removeChild(tempText)
                btnCopy.innerHTML = 'Copy'
            }
        }

    </script>


    <!-- insert layout/commonBody.ejs file-->
    <%- include('layouts/commonBody') %>

</body>

</html>