<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        AP Shopping market - ลบข้อมูลของ carousel
    </title>

    <style>
        form,
        a#index {
            margin: 20px;
        }

        form input,
        form textarea {
            margin-bottom: 20px;
            width: 500px;

        }
    </style>

    <!-- insert layout/commonHead.ejs file-->
    <%- include('layouts/commonHead') %>
</head>

<body>

    <div class="display-4 bg-success">Hello <%=user %>
    </div>

    <h2><u>ลบข้อมูลของ carousel</u></h2>
    <br>

    <%# ถ้ามีข้อความส่งมาจากไฟล์หลัก ให้แสดงข้อความนั้น %>
        <% if (locals.msg ) { %>
            <div id="result" style="color:red ;">
                <%= msg %>
            </div>
            <% } %>

                <div>
                    <nav class="navbar navbar-dark bg-primary">
                        <div class="container">
                            <form action="/carousel-delete" method="post" class="d-flex" role="search">
                                <input class="form-control me-2" type="search" name="searchProductCode"
                                    placeholder="ใส่รหัสสินค้า 6 หลัก" aria-label="Search" style="width: 400px;">
                                <button class="btn btn-outline-light w-50 h-25" type="submit">ค้นหา</button>
                            </form>
                        </div>
                    </nav>
                </div>
                <% for (d of data) { %>
                    <form method="post" action="" id="formDeleteData">
                        <input type="text" name="productCode" placeholder="รหัสสินค้า" value="<%= d.productCode %>" required> :รหัสสินค้า<br>
                        <h5>คำอธิบายหลัก</h5>
                        <div><textarea name="label" id="label" cols="30" rows="10" required><%= d.label %></textarea></div>
                        <h5>คำอธิบายย่อย</h5>
                        <div><textarea name="content" id="content" cols="30" rows="20" required><%= d.content %></textarea></div>

                        <label>ภาพสินค้า ของ carousel</label><br><br>

                        <div>

                            <img src="images/<%= d.images %>" id="" class="mx-3 my-3 w-50 h-50 border border-dark"
                                alt="Image">
                        </div>
                        <% } %>
                            <button type="submit" onclick="submitForm()">ลบข้อมูล</button>
                    </form>
                    <a id="index" href="/web-management">หน้าหลักจัดการร้าน</a><br><br><br>


                    <script>

                        // confirm การลบข้อมูล
                        function submitForm() {

                            if (confirm('ต้องการลบข้อมูลหรือไม่?') == true) {
                                document.getElementById('formDeleteData').action = '/carousel-dataDelete'
                            }
                        }

                    </script>

                    <!-- insert layout/commonBody.ejs file-->
                    <%- include('layouts/commonBody') %>

</body>

</html>