<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>กรอกที่อยู่ใช้ในการจัดส่งสินค้า</title>

    <!-- insert layout/commonHead.ejs file-->
    <%- include('layouts/commonHead') %>
</head>

<body>

    <div class="container bg-light">
        <div>
            <h1 style="background-color: rgb(83, 142, 219);">แก้ไขที่อยู่ใช้ในการจัดส่งสินค้า</h1>
        </div>
        <br>
        <br>
        <!-- addressOrder=(firstname, lastname, phoneNumber, address, city, province, zipcode)-->
        <form class="row g-3" method="post" action="/order-confirm">
            <div class="col-md-6">
                <label for="inputFirstName" class="form-label">ชื่อ</label>
                <input type="text" class="form-control" name="firstname" id="inputFirstName" placeholder="First name"
                    required aria-label="First name" value="<%= dataAddress[0] %>">
            </div>

            <div class="col-md-6">
                <label for="inputLastName" class="form-label">นามสกุล</label>
                <input type="text" class="form-control" name="lastname" id="inputLastName" placeholder="Last name"
                    required aria-label="Last name" value="<%= dataAddress[1] %>">
            </div>

            <div class="col-md-4">
                <label for="inputPhoneNumber" class="form-label">เบอร์โทรศัพท์</label>
                <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="0xx-xxxxxxxx"
                    required value="<%= dataAddress[2] %>">
            </div>
            <div class="col-md-8">
                <label for="inputAddress" class="form-label">ที่อยู่</label>
                <input type="text" class="form-control" name="address" id="inputAddress"
                    placeholder="บ้านเลขที่ 123 หมู่ 12 ตำบล XXX " required value="<%= dataAddress[3] %>">
            </div>
            <div class="col-md-4">
                <label for="inputCity" class="form-label">อำเภอ</label>
                <input type="text" class="form-control" name="city" id="inputCity" placeholder="" required value="<%= dataAddress[4] %>">
            </div>
            <div class="col-md-4">
                <label for="inputProvince" class="form-label">จังหวัด</label>
                <input type="text" class="form-control" name="province" id="inputProvince" placeholder="" required value="<%= dataAddress[5] %>">
            </div>
            <div class="col-md-4">
                <label for="inputZip" class="form-label">รหัสไปรษณีย์</label>
                <input type="text" class="form-control" name="zipcode" id="inputZip" placeholder="" required value="<%= dataAddress[6] %>">
            </div>
            <div class="col-12">
                <input type="hidden" id="editAddress" name="editAddress" value="editAddress">
                <button type="submit" id="btSignIn" class="btn btn-primary">ยืนยันแก้ไขข้อมูล
                </button>
            </div>

        </form>

        <form action="/" method="post">

            <button type="submit" class="btn btn-primary my-3">กลับหน้าหลัก</button>

        </form>
        <br>
        <br>
    </div>

    </script>
    <!-- insert layout/commonBody.ejs file-->
    <%- include('layouts/commonBody') %>
</body>

</html>