<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        AP Shopping market - หน้าหลักร้านค้า
    </title>
    <!-- insert layout/head.ejs file-->
    <%- include('layouts/head') %>

</head>

<body>

    <!-- insert layout/nav.ejs file-->
    <%- include('layouts/nav') %>

        <!--slide carousel -->
        <div class="main container mt-5">

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <% for (i in dataCarousel) { %>
                        <% if (i==0) { %>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="<%= i %>"
                                class="active" aria-current="true"
                                aria-label="<%= dataCarousel[i].productCode %>"></button>
                            <% } else { %>
                                <button type="button" data-bs-target="#carouselExampleCaptions"
                                    data-bs-slide-to="<%= i %>"
                                    aria-label="<%= dataCarousel[i].productCode %>"></button>
                                <% } %>
                                    <% } %>
                                        <!--<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>-->
                </div>

                <div class="carousel-inner border border-dark">
                    <% for (i in dataCarousel) { %>
                        <% if (i==0) { %>
                            <div class="carousel-item active">
                                <form action="/product-description" method="post">
                                    <input type="hidden" name="productCode" value="<%= dataCarousel[i].productCode %>">
                                    <input type="image" src="images/<%= dataCarousel[i].images %>" class="d-block w-100"
                                        alt="Image">
                                </form>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>
                                        <%= dataCarousel[i].label %>
                                    </h5>
                                    <p>
                                        <%= dataCarousel[i].content %>
                                    </p>
                                </div>
                            </div>
                            <% } else { %>
                                <div class="carousel-item">
                                    <form action="/product-description" method="post">
                                        <input type="hidden" name="productCode"
                                            value="<%= dataCarousel[i].productCode %>">
                                            
                                        <input type="image" src="images/<%= dataCarousel[i].images %>"
                                            class="d-block w-100" alt="Image">
                                    </form>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>
                                            <%= dataCarousel[i].label %>
                                        </h5>
                                        <p>
                                            <%= dataCarousel[i].content %>
                                        </p>
                                    </div>
                                </div>
                                <% } %>
                                    <% } %>

                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                </div>
            </div>

            <!-- Card product list -->

            <div class="main container bg-light mt-5">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
                    <% for (d of data) { %>
                        <div class="col">
                            <div class="card h-100">
                                <!-- แยกชื่อออกจากกันเนื่องจากเราคั่นด้วย , และใช้ภาพแรกเป็นภาพหลัก-->
                                <% let imgs=d.images.split(',') %>
                                    <form action="/product-description" method="post">
                                        <input type="hidden" name="productCode" value="<%= d.productCode %>">
                                        <input type="image" src="product-images/<%= imgs[0] %>" class="card-img-top"
                                            alt="Image">
                                    </form>

                                    <div class="card-body">
                                        <h5 class="card-title"><u>
                                                <%= d.name %>
                                            </u></h5>
                                        <p class="card-text my-1" style="font-size: 14px;"><b>ราคา <u>
                                                    <%=d.price %>
                                                </u> บาท</b></p>
                                        <p class="card-text my-1" style="font-size: 14px;">คลัง <%=d.productRemain %>
                                                ชิ้น
                                        </p>
                                        <p class="card-text" style="font-size: 14px;">
                                            <%=d.mainDescription %>
                                        </p>
                                    </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>

            <!-- insert layout/commonBody.ejs file-->
            <%- include('layouts/commonBody') %>

</body>

</html>