<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        AP Shopping market - ดูรายการสั่งสินค้า
    </title>
    <!-- insert layout/commonHead.ejs file-->
    <%- include('layouts/commonHead') %>


</head>

<body>

    <div class="display-4 bg-success">Hello <%=user %>
    </div>

    <h2><u>ดูรายการสั่งสินค้า</u></h2>
    <br>

    <%# ถ้ามีข้อความส่งมาจากไฟล์หลัก ให้แสดงข้อความนั้น %>
        <% if (locals.msg ) { %>
            <div id="result" style="color:red ;">
                <%= msg %>
            </div>
            <% } %>

                <div>
                    <nav class="navbar navbar-dark bg-primary">
                        <div class="container">
                            <form action="/order-product" method="post" class="d-flex" role="search">

                                <input class="form-control me-2" type="search" name="searchBankID"
                                    placeholder="ใส่รหัสธนาคาร 4 ตัวท้าย" aria-label="Search" style="width: 200px;">

                                <button class="btn btn-outline-light w-50 h-25" type="submit">ค้นหา</button>
                            </form>
                        </div>
                    </nav>
                    <div style="color:black;">หรือ</div>
                    <nav class="navbar navbar-dark bg-success">
                        <div class="container">
                            <form action="/order-product" method="post" class="d-flex" role="search">

                                <input class="form-control me-2" type="search" name="searchOrderID"
                                    placeholder="ใส่เลขที่การสั่งสินค้า" aria-label="Search" style="width: 200px;">

                                <button class="btn btn-outline-light w-50 h-25" type="submit">ค้นหา</button>
                            </form>
                        </div>
                    </nav>

                    <div style="color:black;">หรือ</div>
                    <nav class="navbar navbar-dark bg-success opacity-75">
                        <div class="container">
                            <form action="/order-product" method="post" class="d-flex" role="search">

                                <input class="form-control me-2" type="search" name="searchName"
                                    placeholder="ใส่ชื่อลูกค้า" aria-label="Search" style="width: 200px;">

                                <button class="btn btn-outline-light w-50 h-25" type="submit">ค้นหา</button>
                            </form>
                        </div>
                    </nav>

                    <div style="color:black;">หรือ</div>
                    <nav class="navbar navbar-dark bg-primary opacity-75">
                        <div class="container">
                            <form action="" method="post" class="d-flex" role="search" id="formDateSearch">

                                <!--Set current date-->
                                <% let dt=new Date(); let m=dt.getMonth() + 1; m=(m> 10) ? m : '0'+m;
                                    let d = dt.getDate();
                                    d = (d > 10) ? d : '0'+d;
                                    let today = `${dt.getFullYear()}-${m}-${d}`;
                                    %>
                                    <label for="searchDateStart"
                                        style="color:white;">ใส่วันเริ่มต้นที่ต้องการค้นหา</label>
                                    <input class="form-control me-2" type="date" name="searchDateStart"
                                        id="searchDateStart" aria-label="Search" style="width: 200px;"
                                        value="<%= today %>" onchange="checkSearchDate()">

                                    <span style="color:white;">ถึง:&nbsp;&nbsp;</span>

                                    <label for="searchDateEnd" style="color:white;">ใส่วันสุดท้ายที่ต้องการค้นหา</label>
                                    <input class="form-control me-2" type="date" name="searchDateEnd" id="searchDateEnd"
                                        aria-label="Search" style="width: 200px;" value="<%= today %>"
                                        onchange="checkSearchDate()">

                                    <button class="btn btn-outline-light w-25 h-25" type="submit" id="btnSearchDate"
                                        onclick="searchByDate()">ค้นหา</button>
                            </form>
                        </div>
                    </nav>
                </div>

                <!-- Card order list -->

                <div class="main container bg-light mt-5">
                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">

                        <% for (d of data) { %>
                            <div class="col">
                                <div class="card h-100">

                                    <% let customerName = d.address.split(','); %>

                                        <form action="/order-description" method="post">
                                            <input type="hidden" name="productCode" value="<%= d.productCode %>">
                                            <input type="image" src="upload/<%= d.images %>" class="card-img-top"
                                                alt="Image">
                                        </form>

                                        <div class="card-body">
                                            <h5 class="card-title">Order ID: <u>
                                                    <%= d.orderID %>
                                                </u></h5>
                                                <p class="card-text my-1" style="font-size: 14px;"><b>Bank ID: <u>
                                                    <%=d.bankID %>
                                                </u></b></p>
                                            <p class="card-text my-1" style="font-size: 14px;"><b>วันที่สั่งสินค้า: <u>
                                                        <%=d.orderDate %>
                                                    </u></b></p>
                                            <p class="card-text my-1" style="font-size: 14px;">เวลาที่สั่ง: <%=d.orderTime
                                                    %>
                                            </p>
                                            <p class="card-text" style="font-size: 14px;">ยอดรวม: 
                                                <%= d.cost %> บาท
                                            </p>
                                            <p class="card-text" style="font-size: 14px;">ชื่อ:
                                                <%= customerName[0] %>&nbsp;<%= customerName[1] %>
                                            </p>
                                        </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>


                <br><br>
                <a id="index" href="/web-management">หน้าหลักจัดการร้าน</a><br><br><br>


                <script>
                    //check select date
                    function checkSearchDate() {

                        let selectStartDate = document.getElementById('searchDateStart')
                        let selectEndDate = document.getElementById('searchDateEnd')
                        let btnSearchDate = document.getElementById('btnSearchDate')

                        let dt = new Date()
                        let m = dt.getMonth() + 1
                        m = (m > 10) ? m : '0' + m
                        let d = dt.getDate()
                        d = (d > 10) ? d : '0' + d
                        let today = `${dt.getFullYear()}-${m}-${d}`

                        if (selectStartDate.value > selectEndDate.value) {

                            selectStartDate.value = selectEndDate.value

                        } else if (selectEndDate.value.toString() > today) {

                            selectEndDate.value = today
                        }

                    }

                    //Search by date

                    function searchByDate() {

                        let formDateSearch = document.getElementById('formDateSearch')

                        formDateSearch.action = '/order-product'
                    }

                    // ใส่ comma ในราคา
                    function checkItem() {

                        let cost = document.getElementById('cost')
                        let showCost = document.getElementById('showCost')

                        showCost.innerHTML = 'ยอดรวม: ' + cost.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + 'บาท'
                    }

                </script>
                <!-- insert layout/commonBody.ejs file-->
                <%- include('layouts/commonBody') %>

</body>

</html>