<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        AP Shopping market - อัพเดตรายละเอียดสินค้า
    </title>
    <!-- insert layout/commonHead.ejs file-->
    <%- include('layouts/commonHead') %>
        <style>
            form,
            a#index {
                margin: 20px;
            }

            form input,
            form textarea {
                margin-bottom: 20px;
                width: 500px;

            }
        </style>


</head>

<body onload="checklistImage()">

    <div class="display-4 bg-success">Hello <%=user %>
    </div>

    <h2><u>อัพเดตรายละเอียดสินค้า</u></h2>
    <br>

    <%# ถ้ามีข้อความส่งมาจากไฟล์หลัก ให้แสดงข้อความนั้น %>
        <% if (locals.msg ) { %>
            <div id="result" style="color:red ;">
                <%= msg %>
            </div>
            <% } %>

                <div>
                    <nav class="navbar navbar-dark bg-primary">
                        <div class="container">
                            <form action="/update-product" method="post" class="d-flex" role="search">
                                <input class="form-control me-2" type="search" name="searchProductCode"
                                    placeholder="ใส่รหัสสินค้า 6 หลัก" aria-label="Search" style="width: 400px;">
                                <button class="btn btn-outline-light w-50 h-25" type="submit">ค้นหา</button>
                            </form>
                        </div>
                    </nav>
                </div>

                <% for (d of data) { %>

                    <div>
                        <form method="post" action="" id="formTextUpdate">
                            <input type="text" name="productCode" placeholder="รหัสสินค้า" required
                                value="<%= d.productCode %>">
                            :รหัสสินค้า<br>
                            <input type="text" name="name" placeholder="ชื่อสินค้า" required value="<%= d.name %>">
                            :ชื่อสินค้า<br>
                            <input type="number" name="price" placeholder="ราคาสินค้า" required value="<%= d.price %>">
                            :ราคาสินค้า<br>
                            <input type="number" name="productRemain" placeholder="สินค้าคงเหลือ" required
                                value="<%= d.productRemain %>">
                            :สินค้าคงเหลือ<br>
                            <h5>คำอธิบายหลัก</h5>
                            <div><textarea name="mainDescription" id="mainDescription" cols="30" rows="10"
                                    required><%= d.mainDescription %></textarea>
                            </div>
                            <h5>คำอธิบายย่อย</h5>
                            <div><textarea name="subDescription" id="subDescription" cols="30" rows="20"
                                    required><%= d.subDescription %></textarea>
                            </div>

                            <!--text update only-->
                            <button type="submit" onclick="updateText()" id="btnTextUpdate">Update data</button>

                        </form>

                        <hr>

                        <!--Only update image-->

                        <form method="post" action="" enctype="multipart/form-data" id="formUpdateImage">
                            <% if (data !="" ) { %>

                                <% let imgs=d.images.split(','); let idImage='' ; let idImageClick='' ; %>
                                    <% for (i=0; i < imgs.length; i++) { idImage='image' + i; idImageClick='imageClick'
                                        + i; %>

                                        <span>
                                            <!--ระวังต้องให้ h6 อยู่บรรทัดเดียวกันเพราะใช้ innerHTML จะหาข้อมูลไม่เจอเพราะมีช่องว่าง-->
                                            <h6 id="<%= idImage %>"><%= imgs[i] %></h6> 
                                            <img src="product-images/<%= imgs[i] %>" id="<%= idImageClick %>"
                                                class="mx-3 my-3 w-25 h-25 border border-dark" alt="Image"
                                                onclick="imageSelect()">
                                        </span>
                                        <% } %>

                                            <div>

                                                <!--จำนวนรูปภาพ-->
                                                <input type="hidden" id="qtyImage" value="<%= imgs.length %>">
                                                <input type="hidden" id="codeProduct" name="codeProduct" value="<%= d.productCode %>">
                                                <% } %>
                        </form>

                        <div>เลือกภาพที่ต้องการเปลี่ยน</div>
                        <div id="selectImage" class="my-3" style="background-color: rgb(164, 226, 139);">-</div>
                        <input type="hidden" id="updateImage" name="updateImage">
                        <input type="file" name="upfiles" accept="image/*" required><br>
                        <br><br>
                        <button type="submit" onclick="submitImage()" id="btnImageUpdate">Update image</button>
                    </div>


                    <% } %>
                        <br><br>
                        <a id="index" href="/web-management">หน้าหลักจัดการร้าน</a><br><br><br>




                        <script>
                            // check select picture that need to update
                            function imageSelect() {

                                let qtyImage = document.getElementById('qtyImage')
                                let qtyImageInt = parseInt(qtyImage.value)

                                for (let i = 0; i < qtyImageInt; i++) {
                                    document.getElementById('imageClick' + i).onclick = function () { addressImage(i) }

                                }
                            }

                            function addressImage(i) {

                                let selectImage = document.getElementById('selectImage')
                                let image = document.getElementById('image' + i)
                                let updateImage = document.getElementById('updateImage')

                                selectImage.innerHTML = image.innerHTML
                                updateImage.value = image.innerHTML // ส่งชื่อรูปภาพที่จะอัพเดตไป server
                                
                            }

                            // โหลดหน้านี้เสร็จให้ทำการเรียก funtion ต่อเพื่ออ่าน id

                            function checklistImage() {

                                let qtyImage = document.getElementById('qtyImage')
                                let qtyImageInt = parseInt(qtyImage.value)

                                let btnTextUpdate = document.getElementById('btnTextUpdate')

                                if (qtyImageInt > 0) {

                                    imageSelect()
                                }
                            }
                            // ตรวจสอบจำนวนและขนาดไฟน์ ก่อนส่งไปทำการอัพเดต
                            function submitImage() {
                                let file = document.querySelector('[type="file"]')
                                let KB = 1000 //ขนาดไฟน์สูงสุดที่ upload ได้
                                let maxFileSize = KB * 1024
                                let selectImage = document.getElementById('selectImage')
                                let updateImage = document.getElementById('updateImage')

                                let formUpdateImage = document.getElementById('formUpdateImage')
                                let btnImageUpdate = document.getElementById('btnImageUpdate')

                                if (file.files.length > 1) {
                                    alert('เลือกได้ไม่เกิน 1 ไฟล์')
                                    return
                                }

                                for (f of file.files) {
                                    if (f.size > (maxFileSize)) {
                                        alert(`ขนาดของไฟล์ต้องไม่เกิน ${KB} KB`)
                                        return
                                    }
                                }

                                if (selectImage.innerHTML != '-') {

                                    btnImageUpdate.type = 'submit'
                                    formUpdateImage.action = '/image-update'
                                } else {
                                    alert('ยังไม่ได้เลือกรูปภาพ')
                                    btnImageUpdate.type = 'button'
                                }
                            }

                            //ส่งค่าไป server ถ้าค่าเท่ากับ textUpdate ให้ทำการอัพเดตข้อมูลใน database

                            function updateText() {

                                let formTextUpdate = document.getElementById('formTextUpdate')
                                if (confirm('คุณต้องการแก้ไขข้อมูลหรือไม่') == true) {

                                    formTextUpdate.action = '/text-update'
                                } else {
                                    formTextUpdate.action = '/update-product'
                                }
                            }
                        </script>
                        <!-- insert layout/commonBody.ejs file-->
                        <%- include('layouts/commonBody') %>

</body>

</html>